/* ========= Deafult Margin & Padding ===========  */

/*-- Margin Top --*/
.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-35 {
	margin-top: 35px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-45 {
	margin-top: 45px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-55 {
	margin-top: 55px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-65 {
	margin-top: 65px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-75 {
	margin-top: 75px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-85 {
	margin-top: 85px;
}

.mt-90 {
	margin-top: 90px;
}

.mt-95 {
	margin-top: 95px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-105 {
	margin-top: 105px;
}

.mt-110 {
	margin-top: 110px;
}

.mt-115 {
	margin-top: 115px;
}

.mt-120 {
	margin-top: 120px;
}

.mt-125 {
	margin-top: 125px;
}

.mt-130 {
	margin-top: 130px;
}

.mt-135 {
	margin-top: 135px;
}

.mt-140 {
	margin-top: 140px;
}

.mt-145 {
	margin-top: 145px;
}

.mt-150 {
	margin-top: 150px;
}

.mt-155 {
	margin-top: 155px;
}

.mt-160 {
	margin-top: 160px;
}

.mt-165 {
	margin-top: 165px;
}

.mt-170 {
	margin-top: 170px;
}

.mt-175 {
	margin-top: 175px;
}

.mt-180 {
	margin-top: 180px;
}

.mt-185 {
	margin-top: 185px;
}

.mt-190 {
	margin-top: 190px;
}

.mt-195 {
	margin-top: 195px;
}

.mt-200 {
	margin-top: 200px;
}

/*-- Margin Bottom --*/

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-35 {
	margin-bottom: 35px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-55 {
	margin-bottom: 55px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-65 {
	margin-bottom: 65px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-75 {
	margin-bottom: 75px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mb-85 {
	margin-bottom: 85px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mb-95 {
	margin-bottom: 95px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-105 {
	margin-bottom: 105px;
}

.mb-110 {
	margin-bottom: 110px;
}

.mb-115 {
	margin-bottom: 115px;
}

.mb-120 {
	margin-bottom: 120px;
}

.mb-125 {
	margin-bottom: 125px;
}

.mb-130 {
	margin-bottom: 130px;
}

.mb-135 {
	margin-bottom: 135px;
}

.mb-140 {
	margin-bottom: 140px;
}

.mb-145 {
	margin-bottom: 145px;
}

.mb-150 {
	margin-bottom: 150px;
}

.mb-155 {
	margin-bottom: 155px;
}

.mb-160 {
	margin-bottom: 160px;
}

.mb-165 {
	margin-bottom: 165px;
}

.mb-170 {
	margin-bottom: 170px;
}

.mb-175 {
	margin-bottom: 175px;
}

.mb-180 {
	margin-bottom: 180px;
}

.mb-185 {
	margin-bottom: 185px;
}

.mb-190 {
	margin-bottom: 190px;
}

.mb-195 {
	margin-bottom: 195px;
}

.mb-200 {
	margin-bottom: 200px;
}

/*-- Padding Top --*/

.pt-5 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-25 {
	padding-top: 25px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-35 {
	padding-top: 35px;
}

.pt-40 {
	padding-top: 40px;
}

.pt-45 {
	padding-top: 45px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-55 {
	padding-top: 55px;
}

.pt-60 {
	padding-top: 60px;
}

.pt-65 {
	padding-top: 65px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-75 {
	padding-top: 75px;
}

.pt-80 {
	padding-top: 80px;
}

.pt-85 {
	padding-top: 85px;
}

.pt-90 {
	padding-top: 90px;
}

.pt-95 {
	padding-top: 95px;
}

.pt-100 {
	padding-top: 100px;
}

.pt-105 {
	padding-top: 105px;
}

.pt-110 {
	padding-top: 110px;
}

.pt-115 {
	padding-top: 115px;
}

.pt-120 {
	padding-top: 120px;
}

.pt-125 {
	padding-top: 125px;
}

.pt-130 {
	padding-top: 130px;
}

.pt-135 {
	padding-top: 135px;
}

.pt-140 {
	padding-top: 140px;
}

.pt-145 {
	padding-top: 145px;
}

.pt-150 {
	padding-top: 150px;
}

.pt-155 {
	padding-top: 155px;
}

.pt-160 {
	padding-top: 160px;
}

.pt-165 {
	padding-top: 165px;
}

.pt-170 {
	padding-top: 170px;
}

.pt-175 {
	padding-top: 175px;
}

.pt-180 {
	padding-top: 180px;
}

.pt-185 {
	padding-top: 185px;
}

.pt-190 {
	padding-top: 190px;
}

.pt-195 {
	padding-top: 195px;
}

.pt-200 {
	padding-top: 200px;
}

/*-- Padding Bottom --*/

.pb-5 {
	padding-bottom: 5px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-25 {
	padding-bottom: 25px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-35 {
	padding-bottom: 35px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-45 {
	padding-bottom: 45px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pb-55 {
	padding-bottom: 55px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pb-65 {
	padding-bottom: 65px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pb-75 {
	padding-bottom: 75px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pb-85 {
	padding-bottom: 85px;
}

.pb-90 {
	padding-bottom: 90px;
}

.pb-95 {
	padding-bottom: 95px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-105 {
	padding-bottom: 105px;
}

.pb-110 {
	padding-bottom: 110px;
}

.pb-115 {
	padding-bottom: 115px;
}

.pb-120 {
	padding-bottom: 120px;
}

.pb-125 {
	padding-bottom: 125px;
}

.pb-130 {
	padding-bottom: 130px;
}

.pb-135 {
	padding-bottom: 135px;
}

.pb-140 {
	padding-bottom: 140px;
}

.pb-145 {
	padding-bottom: 145px;
}

.pb-150 {
	padding-bottom: 150px;
}

.pb-155 {
	padding-bottom: 155px;
}

.pb-160 {
	padding-bottom: 160px;
}

.pb-165 {
	padding-bottom: 165px;
}

.pb-170 {
	padding-bottom: 170px;
}

.pb-175 {
	padding-bottom: 175px;
}

.pb-180 {
	padding-bottom: 180px;
}

.pb-185 {
	padding-bottom: 185px;
}

.pb-190 {
	padding-bottom: 190px;
}

.pb-195 {
	padding-bottom: 195px;
}

.pb-200 {
	padding-bottom: 200px;
}



/*-- Padding Left --*/
.pl-0 {
	padding-left: 0px;
}

.pl-5 {
	padding-left: 5px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-15 {
	padding-left: 15px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-25 {
	padding-left: 35px;
}

.pl-30 {
	padding-left: 30px;
}

.pl-35 {
	padding-left: 35px;
}

.pl-35 {
	padding-left: 35px;
}

.pl-40 {
	padding-left: 40px;
}

.pl-45 {
	padding-left: 45px;
}

.pl-50 {
	padding-left: 50px;
}

.pl-55 {
	padding-left: 55px;
}

.pl-60 {
	padding-left: 60px;
}

.pl-65 {
	padding-left: 65px;
}

.pl-70 {
	padding-left: 70px;
}

.pl-75 {
	padding-left: 75px;
}

.pl-80 {
	padding-left: 80px;
}

.pl-85 {
	padding-left: 80px;
}

.pl-90 {
	padding-left: 90px;
}

.pl-95 {
	padding-left: 95px;
}

.pl-100 {
	padding-left: 100px;
}


/*-- Padding Right --*/
.pr-0 {
	padding-right: 0px;
}

.pr-5 {
	padding-right: 5px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-15 {
	padding-right: 15px;
}

.pr-20 {
	padding-right: 20px;
}

.pr-25 {
	padding-right: 35px;
}

.pr-30 {
	padding-right: 30px;
}

.pr-35 {
	padding-right: 35px;
}

.pr-35 {
	padding-right: 35px;
}

.pr-40 {
	padding-right: 40px;
}

.pr-45 {
	padding-right: 45px;
}

.pr-50 {
	padding-right: 50px;
}

.pr-55 {
	padding-right: 55px;
}

.pr-60 {
	padding-right: 60px;
}

.pr-65 {
	padding-right: 65px;
}

.pr-70 {
	padding-right: 70px;
}

.pr-75 {
	padding-right: 75px;
}

.pr-80 {
	padding-right: 80px;
}

.pr-85 {
	padding-right: 80px;
}

.pr-90 {
	padding-right: 90px;
}

.pr-95 {
	padding-right: 95px;
}

.pr-100 {
	padding-right: 100px;
}



/*------------------------------ Responsive Margin Padding Part-------------------------- --*/


/* Mini Laptop Devices = (768-576) = md */

@media (max-width: 992px) {
	.mt-md-5 {
		margin-top: 5px;
	}

	.mt-md-10 {
		margin-top: 10px;
	}

	.mt-md-15 {
		margin-top: 15px;
	}

	.mt-md-20 {
		margin-top: 20px;
	}

	.mt-md-25 {
		margin-top: 25px;
	}

	.mt-md-30 {
		margin-top: 30px;
	}

	.mt-md-35 {
		margin-top: 35px;
	}

	.mt-md-40 {
		margin-top: 40px;
	}

	.mt-md-45 {
		margin-top: 45px;
	}

	.mt-md-50 {
		margin-top: 50px;
	}

	.mt-md-55 {
		margin-top: 55px;
	}

	.mt-md-60 {
		margin-top: 60px;
	}

	.mt-md-65 {
		margin-top: 65px;
	}

	.mt-md-70 {
		margin-top: 70px;
	}

	.mt-md-75 {
		margin-top: 75px;
	}

	.mt-md-80 {
		margin-top: 80px;
	}

	.mt-md-85 {
		margin-top: 85px;
	}

	.mt-md-90 {
		margin-top: 90px;
	}

	.mt-md-95 {
		margin-top: 95px;
	}

	.mt-md-100 {
		margin-top: 100px;
	}

	.mt-md-105 {
		margin-top: 105px;
	}

	.mt-md-110 {
		margin-top: 110px;
	}

	.mt-md-115 {
		margin-top: 115px;
	}

	.mt-md-120 {
		margin-top: 120px;
	}

	.mt-md-125 {
		margin-top: 125px;
	}

	.mt-md-130 {
		margin-top: 130px;
	}

	.mt-md-135 {
		margin-top: 135px;
	}

	.mt-md-140 {
		margin-top: 140px;
	}

	.mt-md-145 {
		margin-top: 145px;
	}

	.mt-md-150 {
		margin-top: 150px;
	}

	.mt-md-155 {
		margin-top: 155px;
	}

	.mt-md-160 {
		margin-top: 160px;
	}

	.mt-md-165 {
		margin-top: 165px;
	}

	.mt-md-170 {
		margin-top: 170px;
	}

	.mt-md-175 {
		margin-top: 175px;
	}

	.mt-md-180 {
		margin-top: 180px;
	}

	.mt-md-185 {
		margin-top: 185px;
	}

	.mt-md-190 {
		margin-top: 190px;
	}

	.mt-md-195 {
		margin-top: 195px;
	}

	.mt-md-200 {
		margin-top: 200px;
	}

	/*-- Margin Bottom --*/

	.mb-md-5 {
		margin-bottom: 5px;
	}

	.mb-md-10 {
		margin-bottom: 10px;
	}

	.mb-md-15 {
		margin-bottom: 15px;
	}

	.mb-md-20 {
		margin-bottom: 20px;
	}

	.mb-md-25 {
		margin-bottom: 25px;
	}

	.mb-md-30 {
		margin-bottom: 30px;
	}

	.mb-md-35 {
		margin-bottom: 35px;
	}

	.mb-md-40 {
		margin-bottom: 40px;
	}

	.mb-md-45 {
		margin-bottom: 45px;
	}

	.mb-md-50 {
		margin-bottom: 50px;
	}

	.mb-md-55 {
		margin-bottom: 55px;
	}

	.mb-md-60 {
		margin-bottom: 60px;
	}

	.mb-md-65 {
		margin-bottom: 65px;
	}

	.mb-md-70 {
		margin-bottom: 70px;
	}

	.mb-md-75 {
		margin-bottom: 75px;
	}

	.mb-md-80 {
		margin-bottom: 80px;
	}

	.mb-md-85 {
		margin-bottom: 85px;
	}

	.mb-md-90 {
		margin-bottom: 90px;
	}

	.mb-md-95 {
		margin-bottom: 95px;
	}

	.mb-md-100 {
		margin-bottom: 100px;
	}

	.mb-md-105 {
		margin-bottom: 105px;
	}

	.mb-md-110 {
		margin-bottom: 110px;
	}

	.mb-md-115 {
		margin-bottom: 115px;
	}

	.mb-md-120 {
		margin-bottom: 120px;
	}

	.mb-md-125 {
		margin-bottom: 125px;
	}

	.mb-md-130 {
		margin-bottom: 130px;
	}

	.mb-md-135 {
		margin-bottom: 135px;
	}

	.mb-md-140 {
		margin-bottom: 140px;
	}

	.mb-md-145 {
		margin-bottom: 145px;
	}

	.mb-md-150 {
		margin-bottom: 150px;
	}

	.mb-md-155 {
		margin-bottom: 155px;
	}

	.mb-md-160 {
		margin-bottom: 160px;
	}

	.mb-md-165 {
		margin-bottom: 165px;
	}

	.mb-md-170 {
		margin-bottom: 170px;
	}

	.mb-md-175 {
		margin-bottom: 175px;
	}

	.mb-md-180 {
		margin-bottom: 180px;
	}

	.mb-md-185 {
		margin-bottom: 185px;
	}

	.mb-md-190 {
		margin-bottom: 190px;
	}

	.mb-md-195 {
		margin-bottom: 195px;
	}

	.mb-md-200 {
		margin-bottom: 200px;
	}

	/*-- Padding Top --*/

	.pt-md-5 {
		padding-top: 5px;
	}

	.pt-md-10 {
		padding-top: 10px;
	}

	.pt-md-15 {
		padding-top: 15px;
	}

	.pt-md-20 {
		padding-top: 20px;
	}

	.pt-md-25 {
		padding-top: 25px;
	}

	.pt-md-30 {
		padding-top: 30px;
	}

	.pt-md-35 {
		padding-top: 35px;
	}

	.pt-md-40 {
		padding-top: 40px;
	}

	.pt-md-45 {
		padding-top: 45px;
	}

	.pt-md-50 {
		padding-top: 50px;
	}

	.pt-md-55 {
		padding-top: 55px;
	}

	.pt-md-60 {
		padding-top: 60px;
	}

	.pt-md-65 {
		padding-top: 65px;
	}

	.pt-md-70 {
		padding-top: 70px;
	}

	.pt-md-75 {
		padding-top: 75px;
	}

	.pt-md-80 {
		padding-top: 80px;
	}

	.pt-md-85 {
		padding-top: 85px;
	}

	.pt-md-90 {
		padding-top: 90px;
	}

	.pt-md-95 {
		padding-top: 95px;
	}

	.pt-md-100 {
		padding-top: 100px;
	}

	.pt-md-105 {
		padding-top: 105px;
	}

	.pt-md-110 {
		padding-top: 110px;
	}

	.pt-md-115 {
		padding-top: 115px;
	}

	.pt-md-120 {
		padding-top: 120px;
	}

	.pt-md-125 {
		padding-top: 125px;
	}

	.pt-md-130 {
		padding-top: 130px;
	}

	.pt-md-135 {
		padding-top: 135px;
	}

	.pt-md-140 {
		padding-top: 140px;
	}

	.pt-md-145 {
		padding-top: 145px;
	}

	.pt-md-150 {
		padding-top: 150px;
	}

	.pt-md-155 {
		padding-top: 155px;
	}

	.pt-md-160 {
		padding-top: 160px;
	}

	.pt-md-165 {
		padding-top: 165px;
	}

	.pt-md-170 {
		padding-top: 170px;
	}

	.pt-md-175 {
		padding-top: 175px;
	}

	.pt-md-180 {
		padding-top: 180px;
	}

	.pt-md-185 {
		padding-top: 185px;
	}

	.pt-md-190 {
		padding-top: 190px;
	}

	.pt-md-195 {
		padding-top: 195px;
	}

	.pt-md-200 {
		padding-top: 200px;
	}

	/*-- Padding Bottom --*/

	.pb-md-5 {
		padding-bottom: 5px;
	}

	.pb-md-10 {
		padding-bottom: 10px;
	}

	.pb-md-15 {
		padding-bottom: 15px;
	}

	.pb-md-20 {
		padding-bottom: 20px;
	}

	.pb-md-25 {
		padding-bottom: 25px;
	}

	.pb-md-30 {
		padding-bottom: 30px;
	}

	.pb-md-35 {
		padding-bottom: 35px;
	}

	.pb-md-40 {
		padding-bottom: 40px;
	}

	.pb-md-45 {
		padding-bottom: 45px;
	}

	.pb-md-50 {
		padding-bottom: 50px;
	}

	.pb-md-55 {
		padding-bottom: 55px;
	}

	.pb-md-60 {
		padding-bottom: 60px;
	}

	.pb-md-65 {
		padding-bottom: 65px;
	}

	.pb-md-70 {
		padding-bottom: 70px;
	}

	.pb-md-75 {
		padding-bottom: 75px;
	}

	.pb-md-80 {
		padding-bottom: 80px;
	}

	.pb-md-85 {
		padding-bottom: 85px;
	}

	.pb-md-90 {
		padding-bottom: 90px;
	}

	.pb-md-95 {
		padding-bottom: 95px;
	}

	.pb-md-100 {
		padding-bottom: 100px;
	}

	.pb-md-105 {
		padding-bottom: 105px;
	}

	.pb-md-110 {
		padding-bottom: 110px;
	}

	.pb-md-115 {
		padding-bottom: 115px;
	}

	.pb-md-120 {
		padding-bottom: 120px;
	}

	.pb-md-125 {
		padding-bottom: 125px;
	}

	.pb-md-130 {
		padding-bottom: 130px;
	}

	.pb-md-135 {
		padding-bottom: 135px;
	}

	.pb-md-140 {
		padding-bottom: 140px;
	}

	.pb-md-145 {
		padding-bottom: 145px;
	}

	.pb-md-150 {
		padding-bottom: 150px;
	}

	.pb-md-155 {
		padding-bottom: 155px;
	}

	.pb-md-160 {
		padding-bottom: 160px;
	}

	.pb-md-165 {
		padding-bottom: 165px;
	}

	.pb-md-170 {
		padding-bottom: 170px;
	}

	.pb-md-175 {
		padding-bottom: 175px;
	}

	.pb-md-180 {
		padding-bottom: 180px;
	}

	.pb-md-185 {
		padding-bottom: 185px;
	}

	.pb-md-190 {
		padding-bottom: 190px;
	}

	.pb-md-195 {
		padding-bottom: 195px;
	}

	.pb-md-200 {
		padding-bottom: 200px;
	}

	.delete-margin-md {
		margin: -15px 0px;
	}
}



/* Tablet Devices = (768-576) = SM */

@media (max-width: 768px) {
	.mt-sm-5 {
		margin-top: 5px;
	}

	.mt-sm-10 {
		margin-top: 10px;
	}

	.mt-sm-15 {
		margin-top: 15px;
	}

	.mt-sm-20 {
		margin-top: 20px;
	}

	.mt-sm-25 {
		margin-top: 25px;
	}

	.mt-sm-30 {
		margin-top: 30px;
	}

	.mt-sm-35 {
		margin-top: 35px;
	}

	.mt-sm-40 {
		margin-top: 40px;
	}

	.mt-sm-45 {
		margin-top: 45px;
	}

	.mt-sm-50 {
		margin-top: 50px;
	}

	.mt-sm-55 {
		margin-top: 55px;
	}

	.mt-sm-60 {
		margin-top: 60px;
	}

	.mt-sm-65 {
		margin-top: 65px;
	}

	.mt-sm-70 {
		margin-top: 70px;
	}

	.mt-sm-75 {
		margin-top: 75px;
	}

	.mt-sm-80 {
		margin-top: 80px;
	}

	.mt-sm-85 {
		margin-top: 85px;
	}

	.mt-sm-90 {
		margin-top: 90px;
	}

	.mt-sm-95 {
		margin-top: 95px;
	}

	.mt-sm-100 {
		margin-top: 100px;
	}

	.mt-sm-105 {
		margin-top: 105px;
	}

	.mt-sm-110 {
		margin-top: 110px;
	}

	.mt-sm-115 {
		margin-top: 115px;
	}

	.mt-sm-120 {
		margin-top: 120px;
	}

	.mt-sm-125 {
		margin-top: 125px;
	}

	.mt-sm-130 {
		margin-top: 130px;
	}

	.mt-sm-135 {
		margin-top: 135px;
	}

	.mt-sm-140 {
		margin-top: 140px;
	}

	.mt-sm-145 {
		margin-top: 145px;
	}

	.mt-sm-150 {
		margin-top: 150px;
	}

	.mt-sm-155 {
		margin-top: 155px;
	}

	.mt-sm-160 {
		margin-top: 160px;
	}

	.mt-sm-165 {
		margin-top: 165px;
	}

	.mt-sm-170 {
		margin-top: 170px;
	}

	.mt-sm-175 {
		margin-top: 175px;
	}

	.mt-sm-180 {
		margin-top: 180px;
	}

	.mt-sm-185 {
		margin-top: 185px;
	}

	.mt-sm-190 {
		margin-top: 190px;
	}

	.mt-sm-195 {
		margin-top: 195px;
	}

	.mt-sm-200 {
		margin-top: 200px;
	}

	/*-- Margin Bottom --*/

	.mb-sm-5 {
		margin-bottom: 5px;
	}

	.mb-sm-10 {
		margin-bottom: 10px;
	}

	.mb-sm-15 {
		margin-bottom: 15px;
	}

	.mb-sm-20 {
		margin-bottom: 20px;
	}

	.mb-sm-25 {
		margin-bottom: 25px;
	}

	.mb-sm-30 {
		margin-bottom: 30px;
	}

	.mb-sm-35 {
		margin-bottom: 35px;
	}

	.mb-sm-40 {
		margin-bottom: 40px;
	}

	.mb-sm-45 {
		margin-bottom: 45px;
	}

	.mb-sm-50 {
		margin-bottom: 50px;
	}

	.mb-sm-55 {
		margin-bottom: 55px;
	}

	.mb-sm-60 {
		margin-bottom: 60px;
	}

	.mb-sm-65 {
		margin-bottom: 65px;
	}

	.mb-sm-70 {
		margin-bottom: 70px;
	}

	.mb-sm-75 {
		margin-bottom: 75px;
	}

	.mb-sm-80 {
		margin-bottom: 80px;
	}

	.mb-sm-85 {
		margin-bottom: 85px;
	}

	.mb-sm-90 {
		margin-bottom: 90px;
	}

	.mb-sm-95 {
		margin-bottom: 95px;
	}

	.mb-sm-100 {
		margin-bottom: 100px;
	}

	.mb-sm-105 {
		margin-bottom: 105px;
	}

	.mb-sm-110 {
		margin-bottom: 110px;
	}

	.mb-sm-115 {
		margin-bottom: 115px;
	}

	.mb-sm-120 {
		margin-bottom: 120px;
	}

	.mb-sm-125 {
		margin-bottom: 125px;
	}

	.mb-sm-130 {
		margin-bottom: 130px;
	}

	.mb-sm-135 {
		margin-bottom: 135px;
	}

	.mb-sm-140 {
		margin-bottom: 140px;
	}

	.mb-sm-145 {
		margin-bottom: 145px;
	}

	.mb-sm-150 {
		margin-bottom: 150px;
	}

	.mb-sm-155 {
		margin-bottom: 155px;
	}

	.mb-sm-160 {
		margin-bottom: 160px;
	}

	.mb-sm-165 {
		margin-bottom: 165px;
	}

	.mb-sm-170 {
		margin-bottom: 170px;
	}

	.mb-sm-175 {
		margin-bottom: 175px;
	}

	.mb-sm-180 {
		margin-bottom: 180px;
	}

	.mb-sm-185 {
		margin-bottom: 185px;
	}

	.mb-sm-190 {
		margin-bottom: 190px;
	}

	.mb-sm-195 {
		margin-bottom: 195px;
	}

	.mb-sm-200 {
		margin-bottom: 200px;
	}

	/*-- Padding Top --*/

	.pt-sm-5 {
		padding-top: 5px;
	}

	.pt-sm-10 {
		padding-top: 10px;
	}

	.pt-sm-15 {
		padding-top: 15px;
	}

	.pt-sm-20 {
		padding-top: 20px;
	}

	.pt-sm-25 {
		padding-top: 25px;
	}

	.pt-sm-30 {
		padding-top: 30px;
	}

	.pt-sm-35 {
		padding-top: 35px;
	}

	.pt-sm-40 {
		padding-top: 40px;
	}

	.pt-sm-45 {
		padding-top: 45px;
	}

	.pt-sm-50 {
		padding-top: 50px;
	}

	.pt-sm-55 {
		padding-top: 55px;
	}

	.pt-sm-60 {
		padding-top: 60px;
	}

	.pt-sm-65 {
		padding-top: 65px;
	}

	.pt-sm-70 {
		padding-top: 70px;
	}

	.pt-sm-75 {
		padding-top: 75px;
	}

	.pt-sm-80 {
		padding-top: 80px;
	}

	.pt-sm-85 {
		padding-top: 85px;
	}

	.pt-sm-90 {
		padding-top: 90px;
	}

	.pt-sm-95 {
		padding-top: 95px;
	}

	.pt-sm-100 {
		padding-top: 100px;
	}

	.pt-sm-105 {
		padding-top: 105px;
	}

	.pt-sm-110 {
		padding-top: 110px;
	}

	.pt-sm-115 {
		padding-top: 115px;
	}

	.pt-sm-120 {
		padding-top: 120px;
	}

	.pt-sm-125 {
		padding-top: 125px;
	}

	.pt-sm-130 {
		padding-top: 130px;
	}

	.pt-sm-135 {
		padding-top: 135px;
	}

	.pt-sm-140 {
		padding-top: 140px;
	}

	.pt-sm-145 {
		padding-top: 145px;
	}

	.pt-sm-150 {
		padding-top: 150px;
	}

	.pt-sm-155 {
		padding-top: 155px;
	}

	.pt-sm-160 {
		padding-top: 160px;
	}

	.pt-sm-165 {
		padding-top: 165px;
	}

	.pt-sm-170 {
		padding-top: 170px;
	}

	.pt-sm-175 {
		padding-top: 175px;
	}

	.pt-sm-180 {
		padding-top: 180px;
	}

	.pt-sm-185 {
		padding-top: 185px;
	}

	.pt-sm-190 {
		padding-top: 190px;
	}

	.pt-sm-195 {
		padding-top: 195px;
	}

	.pt-sm-200 {
		padding-top: 200px;
	}

	/*-- Padding Bottom --*/

	.pb-sm-5 {
		padding-bottom: 5px;
	}

	.pb-sm-10 {
		padding-bottom: 10px;
	}

	.pb-sm-15 {
		padding-bottom: 15px;
	}

	.pb-sm-20 {
		padding-bottom: 20px;
	}

	.pb-sm-25 {
		padding-bottom: 25px;
	}

	.pb-sm-30 {
		padding-bottom: 30px;
	}

	.pb-sm-35 {
		padding-bottom: 35px;
	}

	.pb-sm-40 {
		padding-bottom: 40px;
	}

	.pb-sm-45 {
		padding-bottom: 45px;
	}

	.pb-sm-50 {
		padding-bottom: 50px;
	}

	.pb-sm-55 {
		padding-bottom: 55px;
	}

	.pb-sm-60 {
		padding-bottom: 60px;
	}

	.pb-sm-65 {
		padding-bottom: 65px;
	}

	.pb-sm-70 {
		padding-bottom: 70px;
	}

	.pb-sm-75 {
		padding-bottom: 75px;
	}

	.pb-sm-80 {
		padding-bottom: 80px;
	}

	.pb-sm-85 {
		padding-bottom: 85px;
	}

	.pb-sm-90 {
		padding-bottom: 90px;
	}

	.pb-sm-95 {
		padding-bottom: 95px;
	}

	.pb-sm-100 {
		padding-bottom: 100px;
	}

	.pb-sm-105 {
		padding-bottom: 105px;
	}

	.pb-sm-110 {
		padding-bottom: 110px;
	}

	.pb-sm-115 {
		padding-bottom: 115px;
	}

	.pb-sm-120 {
		padding-bottom: 120px;
	}

	.pb-sm-125 {
		padding-bottom: 125px;
	}

	.pb-sm-130 {
		padding-bottom: 130px;
	}

	.pb-sm-135 {
		padding-bottom: 135px;
	}

	.pb-sm-140 {
		padding-bottom: 140px;
	}

	.pb-sm-145 {
		padding-bottom: 145px;
	}

	.pb-sm-150 {
		padding-bottom: 150px;
	}

	.pb-sm-155 {
		padding-bottom: 155px;
	}

	.pb-sm-160 {
		padding-bottom: 160px;
	}

	.pb-sm-165 {
		padding-bottom: 165px;
	}

	.pb-sm-170 {
		padding-bottom: 170px;
	}

	.pb-sm-175 {
		padding-bottom: 175px;
	}

	.pb-sm-180 {
		padding-bottom: 180px;
	}

	.pb-sm-185 {
		padding-bottom: 185px;
	}

	.pb-sm-190 {
		padding-bottom: 190px;
	}

	.pb-sm-195 {
		padding-bottom: 195px;
	}

	.pb-sm-200 {
		padding-bottom: 200px;
	}

	.delete-margin-sm {
		margin: -15px 0px;
	}
}




/* Mobile  = (576-0) = Extra-SM */
@media (max-width: 576px) {

	/*------------------------------ Margin Top-------------------------- --*/
	.mt-Xsm-5 {
		margin-top: 5px;
	}

	.mt-Xsm-10 {
		margin-top: 10px;
	}

	.mt-Xsm-15 {
		margin-top: 15px;
	}

	.mt-Xsm-20 {
		margin-top: 20px;
	}

	.mt-Xsm-25 {
		margin-top: 25px;
	}

	.mt-Xsm-30 {
		margin-top: 30px;
	}

	.mt-Xsm-35 {
		margin-top: 35px;
	}

	.mt-Xsm-40 {
		margin-top: 40px;
	}

	.mt-Xsm-45 {
		margin-top: 45px;
	}

	.mt-Xsm-50 {
		margin-top: 50px;
	}

	.mt-Xsm-55 {
		margin-top: 55px;
	}

	.mt-Xsm-60 {
		margin-top: 60px;
	}

	.mt-Xsm-65 {
		margin-top: 65px;
	}

	.mt-Xsm-70 {
		margin-top: 70px;
	}

	.mt-Xsm-75 {
		margin-top: 75px;
	}

	.mt-Xsm-80 {
		margin-top: 80px;
	}

	.mt-Xsm-85 {
		margin-top: 85px;
	}

	.mt-Xsm-90 {
		margin-top: 90px;
	}

	.mt-Xsm-95 {
		margin-top: 95px;
	}

	.mt-Xsm-100 {
		margin-top: 100px;
	}

	.mt-Xsm-105 {
		margin-top: 105px;
	}

	.mt-Xsm-110 {
		margin-top: 110px;
	}

	.mt-Xsm-115 {
		margin-top: 115px;
	}

	.mt-Xsm-120 {
		margin-top: 120px;
	}

	.mt-Xsm-125 {
		margin-top: 125px;
	}

	.mt-Xsm-130 {
		margin-top: 130px;
	}

	.mt-Xsm-135 {
		margin-top: 135px;
	}

	.mt-Xsm-140 {
		margin-top: 140px;
	}

	.mt-Xsm-145 {
		margin-top: 145px;
	}

	.mt-Xsm-150 {
		margin-top: 150px;
	}

	.mt-Xsm-155 {
		margin-top: 155px;
	}

	.mt-Xsm-160 {
		margin-top: 160px;
	}

	.mt-Xsm-165 {
		margin-top: 165px;
	}

	.mt-Xsm-170 {
		margin-top: 170px;
	}

	.mt-Xsm-175 {
		margin-top: 175px;
	}

	.mt-Xsm-180 {
		margin-top: 180px;
	}

	.mt-Xsm-185 {
		margin-top: 185px;
	}

	.mt-Xsm-190 {
		margin-top: 190px;
	}

	.mt-Xsm-195 {
		margin-top: 195px;
	}

	.mt-Xsm-200 {
		margin-top: 200px;
	}

	/*------------------------------ Margin Bottom-------------------------- --*/

	.mb-Xsm-5 {
		margin-bottom: 5px;
	}

	.mb-Xsm-10 {
		margin-bottom: 10px;
	}

	.mb-Xsm-15 {
		margin-bottom: 15px;
	}

	.mb-Xsm-20 {
		margin-bottom: 20px;
	}

	.mb-Xsm-25 {
		margin-bottom: 25px;
	}

	.mb-Xsm-30 {
		margin-bottom: 30px;
	}

	.mb-Xsm-35 {
		margin-bottom: 35px;
	}

	.mb-Xsm-40 {
		margin-bottom: 40px;
	}

	.mb-Xsm-45 {
		margin-bottom: 45px;
	}

	.mb-Xsm-50 {
		margin-bottom: 50px;
	}

	.mb-Xsm-55 {
		margin-bottom: 55px;
	}

	.mb-Xsm-60 {
		margin-bottom: 60px;
	}

	.mb-Xsm-65 {
		margin-bottom: 65px;
	}

	.mb-Xsm-70 {
		margin-bottom: 70px;
	}

	.mb-Xsm-75 {
		margin-bottom: 75px;
	}

	.mb-Xsm-80 {
		margin-bottom: 80px;
	}

	.mb-Xsm-85 {
		margin-bottom: 85px;
	}

	.mb-Xsm-90 {
		margin-bottom: 90px;
	}

	.mb-Xsm-95 {
		margin-bottom: 95px;
	}

	.mb-Xsm-100 {
		margin-bottom: 100px;
	}

	.mb-Xsm-105 {
		margin-bottom: 105px;
	}

	.mb-Xsm-110 {
		margin-bottom: 110px;
	}

	.mb-Xsm-115 {
		margin-bottom: 115px;
	}

	.mb-Xsm-120 {
		margin-bottom: 120px;
	}

	.mb-Xsm-125 {
		margin-bottom: 125px;
	}

	.mb-Xsm-130 {
		margin-bottom: 130px;
	}

	.mb-Xsm-135 {
		margin-bottom: 135px;
	}

	.mb-Xsm-140 {
		margin-bottom: 140px;
	}

	.mb-Xsm-145 {
		margin-bottom: 145px;
	}

	.mb-Xsm-150 {
		margin-bottom: 150px;
	}

	.mb-Xsm-155 {
		margin-bottom: 155px;
	}

	.mb-Xsm-160 {
		margin-bottom: 160px;
	}

	.mb-Xsm-165 {
		margin-bottom: 165px;
	}

	.mb-Xsm-170 {
		margin-bottom: 170px;
	}

	.mb-Xsm-175 {
		margin-bottom: 175px;
	}

	.mb-Xsm-180 {
		margin-bottom: 180px;
	}

	.mb-Xsm-185 {
		margin-bottom: 185px;
	}

	.mb-Xsm-190 {
		margin-bottom: 190px;
	}

	.mb-Xsm-195 {
		margin-bottom: 195px;
	}

	.mb-Xsm-200 {
		margin-bottom: 200px;
	}

	/*------------------------------ Padding Top-------------------------- --*/

	.pt-Xsm-5 {
		padding-top: 5px;
	}

	.pt-Xsm-10 {
		padding-top: 10px;
	}

	.pt-Xsm-15 {
		padding-top: 15px;
	}

	.pt-Xsm-20 {
		padding-top: 20px;
	}

	.pt-Xsm-25 {
		padding-top: 25px;
	}

	.pt-Xsm-30 {
		padding-top: 30px;
	}

	.pt-Xsm-35 {
		padding-top: 35px;
	}

	.pt-Xsm-40 {
		padding-top: 40px;
	}

	.pt-Xsm-45 {
		padding-top: 45px;
	}

	.pt-Xsm-50 {
		padding-top: 50px;
	}

	.pt-Xsm-55 {
		padding-top: 55px;
	}

	.pt-Xsm-60 {
		padding-top: 60px;
	}

	.pt-Xsm-65 {
		padding-top: 65px;
	}

	.pt-Xsm-70 {
		padding-top: 70px;
	}

	.pt-Xsm-75 {
		padding-top: 75px;
	}

	.pt-Xsm-80 {
		padding-top: 80px;
	}

	.pt-Xsm-85 {
		padding-top: 85px;
	}

	.pt-Xsm-90 {
		padding-top: 90px;
	}

	.pt-Xsm-95 {
		padding-top: 95px;
	}

	.pt-Xsm-100 {
		padding-top: 100px;
	}

	.pt-Xsm-105 {
		padding-top: 105px;
	}

	.pt-Xsm-110 {
		padding-top: 110px;
	}

	.pt-Xsm-115 {
		padding-top: 115px;
	}

	.pt-Xsm-120 {
		padding-top: 120px;
	}

	.pt-Xsm-125 {
		padding-top: 125px;
	}

	.pt-Xsm-130 {
		padding-top: 130px;
	}

	.pt-Xsm-135 {
		padding-top: 135px;
	}

	.pt-Xsm-140 {
		padding-top: 140px;
	}

	.pt-Xsm-145 {
		padding-top: 145px;
	}

	.pt-Xsm-150 {
		padding-top: 150px;
	}

	.pt-Xsm-155 {
		padding-top: 155px;
	}

	.pt-Xsm-160 {
		padding-top: 160px;
	}

	.pt-Xsm-165 {
		padding-top: 165px;
	}

	.pt-Xsm-170 {
		padding-top: 170px;
	}

	.pt-Xsm-175 {
		padding-top: 175px;
	}

	.pt-Xsm-180 {
		padding-top: 180px;
	}

	.pt-Xsm-185 {
		padding-top: 185px;
	}

	.pt-Xsm-190 {
		padding-top: 190px;
	}

	.pt-Xsm-195 {
		padding-top: 195px;
	}

	.pt-Xsm-200 {
		padding-top: 200px;
	}

	/*------------------------------ Padding Bottom-------------------------- --*/

	.pb-Xsm-5 {
		padding-bottom: 5px;
	}

	.pb-Xsm-10 {
		padding-bottom: 10px;
	}

	.pb-Xsm-15 {
		padding-bottom: 15px;
	}

	.pb-Xsm-20 {
		padding-bottom: 20px;
	}

	.pb-Xsm-25 {
		padding-bottom: 25px;
	}

	.pb-Xsm-30 {
		padding-bottom: 30px;
	}

	.pb-Xsm-35 {
		padding-bottom: 35px;
	}

	.pb-Xsm-40 {
		padding-bottom: 40px;
	}

	.pb-Xsm-45 {
		padding-bottom: 45px;
	}

	.pb-Xsm-50 {
		padding-bottom: 50px;
	}

	.pb-Xsm-55 {
		padding-bottom: 55px;
	}

	.pb-Xsm-60 {
		padding-bottom: 60px;
	}

	.pb-Xsm-65 {
		padding-bottom: 65px;
	}

	.pb-Xsm-70 {
		padding-bottom: 70px;
	}

	.pb-Xsm-75 {
		padding-bottom: 75px;
	}

	.pb-Xsm-80 {
		padding-bottom: 80px;
	}

	.pb-Xsm-85 {
		padding-bottom: 85px;
	}

	.pb-Xsm-90 {
		padding-bottom: 90px;
	}

	.pb-Xsm-95 {
		padding-bottom: 95px;
	}

	.pb-Xsm-100 {
		padding-bottom: 100px;
	}

	.pb-Xsm-105 {
		padding-bottom: 105px;
	}

	.pb-Xsm-110 {
		padding-bottom: 110px;
	}

	.pb-Xsm-115 {
		padding-bottom: 115px;
	}

	.pb-Xsm-120 {
		padding-bottom: 120px;
	}

	.pb-Xsm-125 {
		padding-bottom: 125px;
	}

	.pb-Xsm-130 {
		padding-bottom: 130px;
	}

	.pb-Xsm-135 {
		padding-bottom: 135px;
	}

	.pb-Xsm-140 {
		padding-bottom: 140px;
	}

	.pb-Xsm-145 {
		padding-bottom: 145px;
	}

	.pb-Xsm-150 {
		padding-bottom: 150px;
	}

	.pb-Xsm-155 {
		padding-bottom: 155px;
	}

	.pb-Xsm-160 {
		padding-bottom: 160px;
	}

	.pb-Xsm-165 {
		padding-bottom: 165px;
	}

	.pb-Xsm-170 {
		padding-bottom: 170px;
	}

	.pb-Xsm-175 {
		padding-bottom: 175px;
	}

	.pb-Xsm-180 {
		padding-bottom: 180px;
	}

	.pb-Xsm-185 {
		padding-bottom: 185px;
	}

	.pb-Xsm-190 {
		padding-bottom: 190px;
	}

	.pb-Xsm-195 {
		padding-bottom: 195px;
	}

	.pb-Xsm-200 {
		padding-bottom: 200px;
	}

	.delete-margin-Xsm {
		margin: -15px 0px;
	}

}